.card-img-top {
  max-width: 300px;
  max-height: 250px;
}
/*https://www.w3schools.com/cssref/sel_hover.php*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale*/
.card-img-top:hover {
  transform: scale(1.1);
  border: 2px solid black;
}

/*https://www.w3schools.com/css/css_form.asp*/
/*https://www.htmlgoodies.com/css/css-labels-buttons-forms/*/

#name{
  width: 250px;
}

#email {
  width: 400px;
}