body{
    background-color: steelblue; /* the body is used as to set the background color */
}

.mainbody {
    background-color: lightgray;
    border: 10px solid black; /* This defines the border and*/
    padding: 10px; /* This adds some space between the border and the content */
    text-align: left;
    max-width: 960px; /*sets the maximum width */
    margin: 0 auto;
  }

p {
    font-family: Arial, Helvetica;
}

ul {
    font-family: Arial, Helvetica;
}

form {
    font-family: Arial, Helvetica;
}

.about-me {
    float: right;
    width: 50%;
    margin-left: 20px;
  }
  
img {
    float: left;
    width: 50%;
    margin-right: 20px;
  }
/* https://www.w3schools.com/cssref/css_colors.php